@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
*{
	margin:0;
	padding: 0;	
}
body{
	overflow: auto;
	font-family: 'open sans', sans-serif;
}
.face-user{
	background-color: #F1F1F1;	
	margin:auto;
}
.conteiner2{	
	margin: auto;
}
.foto{	
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.foto img{
		width: 150px; height: 140px;
		padding-left: 30px;
}
.foto h2{	
	padding: 35px;

}
.direction{	
	display: flex;
	justify-content: space-around;	
	padding: 25px;
	font-size: 14px;

}
article#tab2{
  padding-bottom: 10px;
  padding-top: 10px;
}
.er{
  font-size: 59px;
  display: flex;
}
.recommendation{
	background-color: #ffffff;	
	text-align: center;
	width: 87vw;
	margin: auto;
}
.recommendation h2{	
	margin:auto;
	background-color: #FFCC00;	
	font-size: 18px;
	padding: 15px;	
	color: white;
}
.triangulo {     
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 9px solid #FC0;
    margin: auto;
    margin-bottom: 12px;
}
/*comida diseño*/
.information-user{
	 border: 1px solid #F1F1F1;	 
	 margin: 12px;
	 display: flex;
   justify-content: space-between;
}
.information-user img{
	width: 120px; height: 120px;	
}
.comida{	
	flex-direction: column;
	margin: 15px;
	text-align: justify;

}
.titulo-comida{
	margin-bottom: 20px;	
}
.comida p{
	font-size: 13px;
}

/*star -rating*/
.rating{
	font-size: 20px;
	direction: rtl;
    unicode-bidi: bidi-override;
    
}
.star-rating {  
  /*margin: 0 auto;*/
  height: 53px;
  display: flex;
  align-items: center;
  margin: 0 1em 0 -0.5em;  
}
.star-rating p {
  text-align: center;
}
.star-rating label {
  font-size: 17px;
  cursor: pointer;
}

input#radio5, #radio4, #radio3, #radio2, #radio1 {
    display: none;
}
.radio1{
  color: grey;
}
.radio {
  color: grey;
}

.radio:hover,.radio:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: #FFCC00;
}
/*configuration*/
.deposit{
  width: 60%;
  margin: auto;  
}
.deposit p{
  padding: 25px 0px 15px 0px;
}
.deposit label{
  margin-bottom: 10px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.deposit input{  
  padding: 10px 8% 10px 8%;
  margin-bottom: 13px;
  background-color: #F1F1F1;
  border: none;
  margin-top: 4px;
}
label .save{
  cursor: pointer;
  padding:10px 15% 10px 15%;    
  background-color: #FFCC00; 
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 15px;
}

/*fff*/
.wrapper {
  background: white;
  margin: auto;
  
  width: 87vw;
  margin-bottom: 25px;
  margin-top: 20px;
}
.tabs {
  list-style-type: none;  
  border-bottom: #f1f1f1 solid 1.5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;

}
.tabs li {
  text-align: center;

}
.tabs li a {
  color: gray;
  /*font-weight: bold;*/
  text-decoration: none;
}
.tabs li.active {
  background: white;
}
.tabs li.active a {
/*  color: white;*/
	color: black;    
  box-shadow: 0px 4px 0px #FFCC00;  
  padding: 10px;
}

.clr {
  clear: both;
}
/*comida unica*/
.information-user1 {
    border: 1px solid #F1F1F1;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}
.information-user1 img {
    width: 120px;
    height: 120px;
}
.comida1 {
    flex-direction: column;
    margin: 15px;
    text-align: justify;
}
.titulo-comida1 {
    margin-bottom: 20px;
}
.comida1 p {
    font-size: 13px;
}
.star-rating1 {    
    height: 53px;
    display: flex;
    align-items: center;
    margin: 0 1em 0 -0.5em;
}
.star-rating label {
    font-size: 15px;
    cursor: pointer;
}

@media screen and (min-width: 1160px){
	.conteiner2{
		display: flex;
    width: 80%;
    height: 80%;
	}
	.wrapper{
    margin-right: 70px;
    margin-bottom: 180px;
    margin-top: 90px;
    width: 60%;
	
	}
  .foto img{
    width: 200px;
    height: 200px;
  }
  .direction{
    padding: 53px;
  }
  .comida{
    margin: 0px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 10px;
  }
  .tabs{
    padding: 20px;
    width: 90%;
    margin: auto;
  }
  .tabs li.active a {
  padding: 20px;
}
  
  .recommendation{
    width: 30%;
    margin-top: 90px;  
    
  }
  .recomendation h2{
    padding: 5px;
    font-size: 13px;
    padding: 18px;
  }
  .titulo-comida{
    margin-bottom: 10px
  }
  .comida p {
    font-size: 11px;
  }
  .information-user img{
    width: 70px;
    height: 80px;
  }
  .information-user{
    margin: 6px;
  }
  .star-rating label{
    font-size: 15px;    

  }
  .star-rating{
    margin-left: 35px;
    margin-top: -9px;
  }
  article#tab2{
  padding-bottom: 10px;
  padding-top: 10px;
}
}

